@import 'utilities.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}

body{
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}
header{
    background-color: rgba(87, 80, 80, 0.9);
    clip-path:polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}
.container{
    max-width:1152px;
    padding:0 15px;
    margin:0 auto;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1152px;
    }
  }

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right:2rem;
    text-transform:uppercase;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}
header nav .left a:hover{
    color:var(--primary);
}
header nav {
    padding:2rem 0;
}
header nav .branding{
    margin-right:3rem;
}
.hero{
    padding:3rem 0;
}
.hero .left img{
    width:400px;
}
.hero .right{
    color:var(--pure);
}
.hero .right h6{
    font-size:1.6rem;
    color:var(--primary);
    margin-bottom:0.5rem;
}
.hero .right h1{
    font-size:4rem;
    font-weight:100;
    line-height:1.2;
    margin-bottom:2rem;
}
.hero .right h1 span{
    color:var(--primary);
}
.hero .right p{
    line-height:1.9;
    margin-bottom:2rem;
}
.hero .right {
    margin-top:-7rem;
}

section{
    padding:6rem 0;
}
section.about .about-me-img{
    height:450px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size:1.6rem;
    font-weight:400;
}
section.about h1 span{
    color:var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom:1rem;
    font-weight: 400;
}

section.about p{
    font-family:'Lato', sans-serif;
    color:var(--ternary);
    line-height: 1.8;
    margin-bottom:2rem;
}
section.about .social{
    display:flex;
}
section.about .social a{
    background:var(--dark);
    display:flex;
    align-items:center;
    justify-content:center;
    width:35px;
    height:35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right:0.6rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
section.about .social a:hover{
    background:var(--primary);
}
section.about .social a img{
    width:100%;
    height:100%;
    padding:0.5rem;
}

.section-heading{
   color:var(--secondary); 
   text-align: center;
   margin-bottom:1rem;
   line-height: 0.5;
}
.section-heading span{
    color:var(--primary);
}
.section-heading + p{
   color:var(--ternary);
   font-family:'Lato', sans-serif;
   margin-bottom:8rem;
    text-align: center;
}
section.education{
    background:var(--light);
}
section.education .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:2rem;
    grid-row-gap:6rem;
}
section.education .card-wrapper .card{
    background:var(--pure);
    padding: 3rem 2rem;
    position:relative;
    padding-top:5rem;
    text-align: center;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
section.education .card-wrapper .card img{
    position: absolute;
    top:-3.5rem;
    left:50%;
    transform: translateX(-50%);
    width:33%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
section.education .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom:0.5rem;
}
section.education .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    color:var(--ternary);
    line-height:1.6;
}

section.education .card-wrapper .card:hover{
    background: var(--dark);  
}
section.education .card-wrapper .card:hover h2, section.education .card-wrapper .card:hover p{
    color:var(--pure);
}

section.skills {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/skills.jpg);
    color: #fff;
    padding-bottom: 14rem;
    position: relative;
    overflow: hidden;
}

.skills-overlay {
    position: relative;
    z-index: 1;
}

section.skills h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #fff;
}

.skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
}

.skill-item {
    flex: 1 1 200px;
    max-width: 200px;
    padding: 2rem;
    background-color: rgba(87, 80, 80, 0.9);
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.skill-item i {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #007bff; 
}

.skill-item p {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

section.volunteer .container {
    text-align: center;
    padding: 4rem 0;
}

section.volunteer .section-heading {
    margin-bottom: 2rem;
}

section.volunteer .slider .slide {
    position: relative;
}

section.volunteer .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 2rem;
}

section.volunteer .card-header {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #676161;
}

section.volunteer .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

section.volunteer .author {
    font-size: 1.2rem;
    color: var(--pure);
}

section.volunteer .card-body {
    padding: 1.5rem;
}

section.volunteer .description {
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
}

section.volunteer .posi {
    color: gray;
}
section.volunteer .refer {
    font-size: x-small;
}

section.volunteer .slider-arrows {
    margin-top: 1rem;
    text-align: center;
}

section.volunteer .slider-arrows button {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--ternary);
}

section.volunteer .slider-arrows button:hover {
    color: var(--primary);
}


section.projects{
    background:var(--light);
}
section.projects .card-wrapper{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:2rem;
}
section.projects .card-wrapper .card{
    position:relative;
    height:250px;

}
section.projects .card-wrapper .card .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(61, 207, 211,0.9);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color:var(--light);
    opacity:0;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}
section.projects .card-wrapper .card:hover .overlay{
    opacity:1;
}

section.projects .card-wrapper .card .overlay a{
    color:var(--secondary);
    text-decoration: none;
}
section.projects .card-wrapper .card img{
    height:100%;
    width:100%;
    
}
section.video .video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
    margin-top: 2rem;
}

section.video .video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


section.contact .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
    width: 30%;
}
section.contact .card-wrapper .card h1{
    font-weight:400;
    margin-bottom:1rem;
}
section.contact .card-wrapper .card h6{
    font-size:1rem;
    color:var(--ternary);
    font-weight:400;
    margin-bottom:4rem;
}

section.contact .input-wrap{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
    margin-bottom:2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom:2rem;
}
section.contact input{
    padding:0.5rem;
    border:1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea{
    padding:0.5rem;
    border:1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline:none;  
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top:2rem;
}

footer{
    background:var(--dark);
    text-align: center;
    padding:5rem 0;
}
footer .footer-logo{
    margin-bottom:3rem;
    width:150px;
}
footer .footer-socials a{
    margin-right:1rem;
}
footer .footer-socials{
    margin-bottom:3rem;
    margin-right:-1rem;
}
footer .copyright{
    color:var(--ternary);
}


.site-main-wrapper{
    position:relative;
}
.hamberger{
    position:absolute;
    top:40px;
    right:40px;
    z-index:11;
    background:none;
    border:none;
    outline: none;
    cursor: pointer;
    display:none;
}
.hamberger img{
    width:30px;
}

.mobile-nav{
   position: fixed;
   top:0;
   left:0;
   z-index:1001;
   background:var(--light);
   width:100%;
   height:100%;
   padding:2rem;
   padding-top:5rem;
   transform: translateX(-100%);
   -webkit-transform: translateX(-100%);
   -moz-transform: translateX(-100%);
   -ms-transform: translateX(-100%);
   -o-transform: translateX(-100%);
   transition:all .5s ease-in-out;
   -webkit-transition:all .5s ease-in-out;
   -moz-transition:all .5s ease-in-out;
   -ms-transition:all .5s ease-in-out;
   -o-transition:all .5s ease-in-out;
}
.open{
    transform:translateX(0);
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -ms-transform:translateX(0);
    -o-transform:translateX(0);
}
.times{
   position:fixed;
   top:30px;
   right:30px;
   border: none;
   background:none;
   outline:none;
   cursor: pointer; 
}
.times img{
    width:30px;
}

.mobile-nav ul{
    list-style-type: none;
}
.mobile-nav ul li a{
    color:var(--secondary);
    text-decoration:none;
    font-size: 2rem;
}

@media (max-width:1024px){
    header #main-nav{
        display:none;
    }
    .hamberger{
        display: block;
    }
    .hero .left img{
        width:260px;
    }
    .hero .right h1{
        font-size: 3rem;
    }
    .hero{
        padding-top:10rem;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 89%, 0 100%);
    }
    section.about .about-me-img{
        height: 360px;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    section.work .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    section.blog .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.blog{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
    }
}

@media (max-width:576px){
    .hero{
        flex-direction: column;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 95%, 0 100%);
    }
    .hero .right{
        position: absolute;
        top:260px;
        padding:0 1rem;
        background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    }
    .hero .left{
        margin-top:-5rem;
        margin-right: -9rem;
        padding-bottom:4rem;
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    .about .right{
        text-align: center;
        margin-top:2rem;
    }
    .about .right .social{
        justify-content: center;
    }
    section{
        padding: 4rem 0;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
        margin-top:6rem;
    }
    section.freelancer h1{
        line-height:1.2;
    }
    section.freelancer{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
        padding-bottom: 8rem;
    }
    section.reviews .slider .slide{
        padding:0;
    }
    .section-heading + p{
        margin-bottom: 3rem;
    }
    section.work .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.contact .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.contact .input-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
}